@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Maven+Pro&family=Rajdhani&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  background: none;
  font: 18px Arial;
  color: white;
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes move-stars {
    from {background-position:0 0;}
    to {background-position:0px -10000px;}
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100vw;
  height:100vh;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-2;
  animation:move-stars 400s linear infinite;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;
  animation:move-twink-back 200s linear infinite;
}

.button, .selection {
  background: rgb(255, 255, 255, 0.1);
  border: 2px solid rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  margin-bottom: 4px;
}

.button:hover,
.button:active {
  border: 2px solid #eaeaea;
}

.button:focus {
	outline: none;
}

.selection:hover,
.selection:focus,
.selection:active {
  border: 2px solid #eaeaea;
}

.mode {
  background: rgb(255, 255, 255, 0.1);
  min-width: 25vw;
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}