.headline {
  position: relative;
  width: 264px;
  border-right: 2px solid white;
  font-family: Courier, monospace;
  font-size: 72px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;    
}

.typewriterA {
  animation: typeA 3.75s steps(6) infinite both,
             blinkTextCursor 0.75s steps(44) infinite both;
}

@keyframes typeA {
  0% {width: 0;}
  20% {width: 264px;}
  80% {width: 264px;}
  100% {width: 0;}
}

.typewriterB {
  animation: typeB 3.75s steps(4) infinite both,
             blinkTextCursor 0.75s steps(44) infinite both;
}

@keyframes typeB {
  0% {width: 0;}
  16% {width: 178px;}
  84% {width: 178px;}
  100% {width: 0;}
}

@keyframes blinkTextCursor {
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  line-height: 12vh;
  text-align: center;
  background: rgb(255, 255, 255, 0.1);
  color: inherit;
  text-decoration: none;
  border: 2px solid rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 25vw;
  height: 12vh;
}

.card:hover,
.card:focus,
.card:active {
  border: 2px solid #eaeaea;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}