.row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: none;
  float: left;
}

.game {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.game:focus {
  outline: none;
}

.gameinfo {
  margin-left: 20px;
  min-width: 115px;
  font: 18px Arial;
}