.row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: none;
  float: left;
  font-size: 64px;
  font-family: Chalkduster, fantasy;
  font-weight: bold;
  line-height: 34px;
  height: 128px;
  margin: 3px;
  padding: 0;
  text-align: center;
  width: 128px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameinfo {
  margin-left: 20px;
  min-width: 115px;
}
