.row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.mark {
  width: 48px;
  height: 48px;
}

.square {
  background: #fff;
  border: none;
  float: left;
  line-height: 34px;
  height: 100px;
  margin: 3px;
  padding-top: 8px;
  align-items: center;
  width: 100px;
  font-family: 'Indie Flower', cursive;
  font-size: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameinfo {
  margin-left: 20px;
  min-width: 115px;
  font: 18px Arial;
}

.box {
  height: 40px;
  width: 100px;
  background: none;
  border: 1px solid white;
  border-radius: 8px;
  font: 18px Arial;
  color: transparent;
  text-shadow: 0px 0px 1px white;
  text-align: center;
}

.box:focus,
.box:active {
  border: 2px solid white;
  outline: none;
}
